<h3>LSB_50</h3>

<RadioGroup TValue="string" Name="colors" CheckedValue="@("blue")">
    <Radio TValue="string" Value="@("red")">Red</Radio>
    <Radio TValue="string" Value="@("green")">Green</Radio>
    <Radio TValue="string" Value="@("blue")">Blue</Radio>
</RadioGroup>

@code {

}
